body {	color: green;
		background-color: black;
		font-size: 40px;
		text-align: justify;}

marquee {	font-size: 50px;
			font-family: "Brush Script MT", cursive;
			border: 10px solid white;}

h1, h2, h3, h4, h5, h6 {	font-size: 25px;}

ol {	font-size: 20px;}

a:link	{color: yellow;}

a:visited	{color:white;}

img.lado{
	float: left;
	width: 50px;
	height: 50px;
}
 img.setas{
	width: 50px;
	height: 50px;
	float: right;
 }

p{
	font-size: 22px;
}